<mat-sidenav-container fullscreen>
  <mat-toolbar color="primary">
    <div class="toolbar-tools">
      <!-- la direttva routerLinkActive applica la classe css se è attiva la route /courses sia se è attiva una sua rotta figlia -->
      <!-- possiamo modifcare questo comportamento andando a dire che la rotta deve matchare completamente, utilizzando la direttiva [routerLinkActiveOptions] e passandogli un oggetto di configurazione per determinare il comportamento di routerLinkActive -->
      <!-- fra le proprietà c'è exact che accetta un booleano, true il css sarà applicato solo alla rotta che matcha con quella riportata nel routerLink -->
      <a
        class="menu-item"
        mat-button
        routerLink="/courses"
        routerLinkActive="menu-item-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span>Courses</span>
      </a>

      <a
        class="menu-item"
        mat-button
        [routerLink]="'/about'"
        routerLinkActive="menu-item-active"
      >
        <span>About</span>
      </a>

      <a
        *ngIf="auth.isLoggedOut$ | async"
        mat-button
        class="menu-item"
        routerLink="/login"
        routerLinkActive="menu-item-active"
      >
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
      </a>
    </div>

    <!-- posso iscrivermi agli obeservables del service auth.store tramite pipe async -->
    <!-- voglio fare in modo che al click di questo help venga renderizzato un component in un router-outlet secondario -->
    <!-- utilizziamo il router-link, ma non in modo solito, infatti passando un link e basta stiamo dicendo al routerlink che deve navigare verso il primary router-outlet -->
    <!-- la direttiva routerLink acceta un array con i path variables e come ultimo argomento di questo un oggetto di configurazione -->
    <!-- passiamo un array contenente solo l'oggetto di configurazione e andiamo a settare la proprietà outlets che è un altro oggetto, con il nome del secondary outlet come proprietà e come valore un array con le stringhe dei path variables di cui è composta la rotta che vogliamo renderizzare in quel secondary outlet -->
    <!-- in questo caso il path della rotta è chat e basta -->
    <!-- si può avere più di un router-outklet secondario aperto contemporaneamente -->
    <!-- per chiudere l'oulet secondario bisogna agire sull'url, questo perchè quando viene aperto si modifica l'url della rotta del router primario,  ad esempio http://localhost:4200/courses(chat:chat/prova)(nomeAltro:rottaAltro)-->
    <!-- bisogna navigare verso un altro componente e settare null il router-secondario -->
    <a
      mat-button
      class="menu-item"
      *ngIf="auth.isLoggedIn$ | async"
      [routerLink]="[{ outlets: { chat: ['chat'] } }]"
    >
      <mat-icon>help</mat-icon>
    </a>

    <a
      mat-button
      class="menu-item"
      (click)="logout()"
      *ngIf="auth.isLoggedIn$ | async"
    >
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </a>

    <div class="filler"></div>

    <ng-container *ngIf="auth.user$ | async as user">
      <img class="profile-picture" [src]="user.pictureUrl" />
    </ng-container>
  </mat-toolbar>

  <messages></messages>

  <loading [detectRoutingOnGoing]="true"></loading>

  <!-- il router-outlet senza nome è quello primario, per tutti i componenti -->
  <router-outlet></router-outlet>
</mat-sidenav-container>

<!-- creo il router-outlet secondario e gli dò un name, lo chiamo chat -->
<router-outlet name="chat"></router-outlet>
